.cart-product__image {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.cart-product {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 40px;
}

.cart-product__info {
    display: flex;
    flex-direction: column;
}

.cart-product__title {
    margin: 0;
}

.cart-product__quantity {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--accent-color);
    padding: 0 20px;
}

.cart {
    display: flex;
    height: 100vh;
    font-family: var(--secondary-font);
}

