.cart-product__info,
.cart-order-summary {
    display: flex;
    flex-direction: column;
}

.cart-product__title {
    margin: 0;
    font-weight: var(--font-weight-regular);
}

.cart-product__quantity {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--accent-color);
    padding: 0 20px;
    height: 48px;
    margin-left: 15px;
}

.cart {
    display: flex;
    flex: 1;
    height: 100vh;
    color: var(--text-color);
}

.quantity-plus,
.quantity-minus {
    cursor: pointer;
    border: none;
    background: none;
}

.quantity-plus,
.quantity-minus,
.quantity-value {
    font-size: var(--font-size-h2);
}

.cart-items-container {
    flex: 1;
}

.cart-h1 {
    margin: 40px;
}

.fa-trash {
    cursor: pointer;
    font-size: var(--font-size-h3);
}

.cart-product {
    margin: 40px 5px 40px 40px;
}



