main {
    background-color: var(--primary-color);
}

/* Carousel Hero */
.hero-content {
    position: relative;
    width: 100%;
    height: 700px;
    display: none;
}

.hero-image {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.hero-arrow-left,
.hero-arrow-right {
    position: absolute;
    top: 45%;
    font-size: var(--font-size-h1);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 15px;
    cursor: pointer;
}

.hero-arrow-left {
    left: 10px;
}

.hero-arrow-right {
    right: 10px;
}

.hero-title {
    position: absolute;
    top: 80%;
    left: 7%;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-h2);
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--color-white);
    border: 1px solid var(--secondary-color);
    padding: 10px 30px;
    cursor: pointer;
}

.hero-button {
    position: absolute;
    top: 90%;
    left: 10%;
}

/* Thumbnail Grid */
.thumbnail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 20px 60px 20px;
    justify-items: center;
}

.thumbnail-product-card {
    background-color: var(--color-white);
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.thumbnail-product-card:hover {
    transform: scale(1.05);
}

.thumbnail-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.thumbnail-content {
    color: var(--text-color);
    font-size: var(--font-size-h3);
    display: grid;
    padding: 0 15px;
}

.thumbnail-title {
    font-weight: var(--font-weight-bold);
    margin: 10px 0;
    font-size: var(--font-size-h3);
}

.thumbnail-price {
    grid-column: 1;
}

.thumbnail-price__discounted {
    grid-column: 2;
}

.thumbnail-price__discounted,
.thumbnail-price {
    margin: 5px 0 15px 0;
}

.homepage-header {
    margin: 50px 0 0 40px;
}

a {
    text-decoration: none;
}