/* Mobile */
@media (max-width: 768px) {
    /* Index */
    .hero-content {
        height: 400px;
    }

    .hero-image {
        height: 400px;
    }

    .hero-title {
        font-size: var(--font-size-body-large);
    }

    .hero-arrow-left,
    .hero-arrow-right {
        font-size: var(--font-size-h3);
        top: 28%;
    }

    .thumbnail {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 10px;
    }

    .thumbnail-product-card {
        width: 180px;
    }

    .thumbnail-image {
        height: 180px;
    }

    .thumbnail-content {
        font-size: var(--font-size-body-medium);
    }

    .homepage-header {
        margin: 50px 0 0 30px;
    }

    /* Product */
    .product-image {
        width: 350px;
        height: 350px;
    }

    .add-to-cart-button {
        width: 320px;
    }

    .product-content {
        padding: 30px 10px;
    }

    .product-description,
    .review-username,
    .review-description {
        font-size: var(--font-size-body-medium);
    }

    .product-tags {
        font-size: var(--font-size-mini);
    }

    .product-prices {
        font-size: var(--font-size-body-large);
    }

    .fa-arrow-up-from-bracket,
    .add-to-cart-button {
        font-size: var(--font-size-h3);
    }
   
    /* Login and Register */
    .login-form,
    .register-form,
    .login-button,
    .register-button {
        width: 320px;
    }

    .login-button,
    .register-button {
        font-size: var(--font-size-h3);
    }

    .login-form__signup,
    .register-form__login {
        font-size: var(--font-size-body-large);
    }

    /* Cart and checkout */
    .cart-product__image {
        width: 80px;
        height: 80px;
    }

    .cart-product__title,
    .cart-product__discounted-price,
    .cart-order-summary__total,
    .quantity-value,
    .checkout-order-summary__total {
        font-size: var(--font-size-body-large);
    }

    .cart-order-summary__h2,
    .cart-order-summary__checkout-button,
    .checkout-order-summary__h2,
    .checkout-form__button {
        font-size: var(--font-size-h3);
    }

    .cart-order-summary__subtotal-container,
    .checkout-order-summary__subtotal-container {
        font-size: var(--font-size-body-medium);
    }

    .quantity-plus,
    .quantity-minus,
    .fa-trash {
        font-size: var(--font-size-body-xlarge);
    }

    .cart-product__quantity {
        height: 35px;
        gap: 10px;
        padding: 0 10px;
        margin: 0;
    }

    .cart-product {
        margin: 20px 10px;
        gap: 10px;
    }

    .cart-order-summary__subtotal-container,
    .cart-order-summary__h2,
    .cart-order-summary__total-container,
    .cart-order-summary__checkout-button,
    .checkout-form__button,
    .checkout-order-summary__h2,
    .checkout-order-summary__subtotal-container,
    .checkout-order-summary__total-container {
        width: 320px;
    }

    .cart-clear-button {
        font-size: var(--font-size-body-medium);
        padding: 5px 15px;
    }

    .checkout-form-input,
    .checkout-form-payment {
    width: 306px;
    }   

    .checkout-form-input__small {
    width: 140px;
    }

    .checkout-form-payment__big {
        width: 276px;
    }
    
    .checkout-form-payment__small {
        width: 125px;
    }

    .checkout-order-summary__content {
        width: 320px;
    }

    /* Button */
    .login-logout-button {
        font-size: var(--font-size-body-small);
    }

}

/* Mobile and Tablet */
@media (max-width: 1024px) {
    /* Product */ 
    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-review,
        .product-info {
            width: 100%;
        }
    
    /* Cart */
    .cart {
        flex-direction: column;
        height: auto;
    }

    .cart-items-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-h1 {
        align-self: start;
        margin-bottom: 0;
    }

    .cart-clear-button {
        margin: 0 0 20px 15px;
    }

    /* Checkout */
    .checkout {
        flex-direction: column;
    }

    .checkout-order-summary {
        display: flex;
        flex-direction: column;
    }

}

/* Tablet */
@media (769px <= width <= 1024px) {
    /* Product */
    .product-image {
        width: 600px;
        height: 600px;
    }

    
}

/* Desktop */
@media (min-width: 1025px) {
    /* Header */
    .header-hamburger__menu {
        display: none;
    }

    .header-categories {
        display: flex;
        background: none;
        position: static;
        order: 2;
        padding: 0;
        width: auto;
    }

    .header-categories li {
        margin: 0;
        border: none;
        padding: 0;
        width: auto;
    }

    .header-logo {
        order: 1;
        font-size: var(--font-size-logo-desktop);
    }

    .header-icons {
        order: 3;
    }

    .header-logo-2 {
        margin-left: 30px;
    }

    /* Footer */
    .footer-logo-2 {
        margin-left: 45px;
    }

    .footer-desktop {
        background-color: var(--secondary-color);
        color: var(--color-white);
        flex-direction: row;
        width: 100%;
        font-family: var(--secondary-font);
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        padding: 40px 0;
    }

    .footer-mobile {
        display: none;
    }

    /* Success Page */
    .success-info {
        width: 500px;
    }
}