.product-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px 40px 40px 40px;
    justify-content: center;
}

.product-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.product-tags {
    border: 1px solid var(--accent-color);
    width: fit-content;
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: var(--font-size-xsmall);
}

.product-title {
    margin: 5px 0 0 0;
}



.product-prices {
    display: flex;
    gap: 20px;
    font-size: var(--font-size-h3);
    align-items: center;
}

.fa-arrow-up-from-bracket {
    font-size: var(--font-size-h2);
    margin: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}

.product-review {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--accent-color);
}

.review-title,
.review-username {
    font-weight: var(--font-weight-semibold);
}

.review-title {
    font-size: var(--font-size-h3);
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--primary-color);
    padding: 10px;
    margin: 0;
}

.review-username,
.fa-star {
    margin: 5px 10px;
}

.review-description {
    margin: 20px 10px;
}

.product-description {
    font-size: var(--font-size-body-large);
}

.product-rating {
    font-size: var(--font-size-body-medium);
    font-weight: var(--font-weight-extra-light);
    margin: 0 0 30px 0;
}