main {
    background-color: var(--primary-color);
    min-height: 100vh;
    justify-content: center;
}

main, 
.success-info {
    align-items: center;
    display: flex;
}

.success-info {
    border: solid 1px var(--accent-color);
    flex-direction: column;
    padding: 50px 20px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-large);
    color: var(--text-color);
}

.fa-square-check {
    font-size: 80px;
    color: var(--secondary-color);
}

.success-info p {
    margin: 10px 0px 0px 0px;
}